# env
ENVIRONMENT="dev"
# databse
DATABASE_TYPE="postgresql"
DATABASE_HOST="127.0.0.1"
DATABASE_PORT=5432
DATABASE_USER="admin"
DATABASE_PASSWORD="admin123"
DATABASE_SCHEMA="scheme_backend"
# minio
MINIO_ENDPOINT="127.0.0.1:9000"
MINIO_ROOT_USER="admin"
MINIO_ROOT_PASSWORD="admin123"
# engine
ENGINE_ENDPOINT="http://localhost:8000"
ENGINE_RABBITMQ_HOST="localhost"
ENGINE_RABBITMQ_PORT=5672
ENGINE_RABBITMQ_USER="guest"
ENGINE_RABBITMQ_PASSWORD="guest"
ENGINE_RABBITMQ_QUEUE_NAME="info"
